<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
	
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	
		<meta name="viewport" content="width=device-width; initial-scale=1.0;" />

	<link href='css/danmayfieldhomestyle.css' rel='stylesheet' type='text/css' />

	<link href='css/danmayfieldmediaqueries.css' rel='stylesheet' type='text/css' />

<link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>

<link rel="icon" href="images/favicon.ico" type="image/x-icon" />

		<title>Dan Mayfield</title>
	</head>
	<body>

		<div id="wrapper">	
				<div id="header">
					<h1>Dan Mayfield</h1>							
				</div>

				<div id="nav">
					<ul class="nav">
						<li><a href="index.html">home</a></li>
						<li><a href="aboutme.html">about me</a></li>
						<li><a href="videos.html">videos</a></li>
						<li><a href="photos.html">photos</a></li>
						<li><a href="discography.html">discography</a></li>
					</ul>
				</div>
			
			<div id="main">
		
				<div id="logo">
					<img src="images/danmayfieldlogo.png" alt="Dan Mayfield - illustration by Alex Merry" width="100%"/>
					<h3>Illustration by Alex Merry</h3>
				</div>

				<div id="content" class="cms-editable">
					{{ content }}

				</div> <!-- close content div -->

			</div> <!-- close main div -->
		</div> <!-- close wrapper div -->

<div id="footer">

<h4><a href="mailto:danmayfield81@gmail.com">danmayfield81@gmail.com</a></h4>
			<h4><a href="http://www.twitter.com/dan_mayfield">@dan_mayfield</a></h4>
		</div>

	</body>
</html>